body {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 0;
}

#hero {
  width: 592px;
  margin: 0 auto 72px;
  border: 1px solid #d1c1f6;
}

#hero img {
  margin-bottom: 72px;
  border: 1px solid #d1c1f6;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 49px;
  font-weight: 56px;
  font-weight: normal;

  margin-bottom: 32px;
}

h1 span {
  font-weight: bold;
}

span,
a {
  color: #ff00ae;
}

p,
#footer {
  color: #5b11ab;

  font-size: 14px;
  line-height: 28px;
}

#footer a + a {
  margin-left: 28px;
}

.line {
  width: 800px;

  margin: 0 auto 8px;

  border: 1px solid #d1c1f6;
}

#balls {
  position: fixed;
  left: 0;
  bottom: 0px;
  
}
